{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "jest",
    "@typescript-eslint"
  ],
   "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
 "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/explicit-function-return-type" : "off"
            }
        },
        {
            "files": ["*axios.ts"],
            "rules": {
                "@typescript-eslint/no-var-requires" : "off"
            }
        }, {
            "files": ["*common.ts"],
            "rules": {
                "@typescript-eslint/no-empty-function" : "off"
            }
        }, {
            "files": ["*contracts.ts"],
            "rules": {
                "prefer-const" : "off"
            }
        }
    ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "require-atomic-updates": "off",
    "no-prototype-builtins": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
        "@typescript-eslint/camelcase": "off",

    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "jest/no-disabled-tests": [
      "off"
    ],
    "jest/no-focused-tests": [
      "error"
    ],
    "jest/no-identical-title": [
      "error"
    ],
    "jest/prefer-to-have-length": [
      "warn"
    ],
    "jest/valid-expect": [
      "error"
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
